html {
        height: 100%;
      }
      body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
      body{
        background: radial-gradient(ellipse at center, rgba(94,94,94,1) 0%, rgba(32,32,32,1) 100%);
      }
      .header{
           background: linear-gradient(to bottom, rgb(133, 228, 64) 0%, rgb(54, 148, 15) 65%, rgb(37, 130, 12) 100%);
       height: 46px;
       background-repeat: no-repeat;
      }
      .header h3{
        margin: 0;
        line-height: 41px;
        color: #fff;
      }
      #reword{
        background-color: #24301d;
      }
      .acc332{
        color: #acc332;
      }
      .fff{
        color: #FFF;
      }
      .c989898{
        color: #989898;
      }
      .c215f08{
        color: #215f08;
      }
      .cards{
        width: 500px;
        height: 300px;
        display: inline-block;
        width: 425px;
        height: 247px;
        cursor: pointer;
      }
      .cardspay{
        position: relative;
        margin-right: 9px; 
        margin-left: 13px;
        z-index: 2;
      }
      .cardsadd{
        position: relative;
        z-index: 1;
      }
      .cards1{
        width: 100%;
        height: 100%;
        background-color: #fff;
        background-size: cover;
      }
      .cards1-banner{
        background-image: url("../img/carts.png");
      }
      .cards1-flip{
        background-image: url("../img/cartsflip.png");
      }
      .vertical-center {
        min-height: 114px;
        display: flex;
        align-items: center;
      }
      .scroll::-webkit-scrollbar {
        width: 12px;
      }
      .touch{
        width: 100px;
        height: 100px;
        background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 65%, rgba(117,137,12,1) 100%);
        position: absolute;
        right: -27px;
        bottom: -33px;
         cursor: pointer;
      }
      .touch:hover{
        background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%, rgba(117,137,12,1) 100%) ;
      }
      .font-weight-bold{
        font-weight: bold;
      }
      .btn-default{
        height: 43px;
        border: 0;
        background: #676767;
      }
      .btn-default:hover{
        background: #000;
        color: #fff;
      }
      .btn-submit{
        background-color: #3f7369; 
        margin-top: 10px;
        margin-left: -17px;
        transition: 0.2s ease;
      }
      .btn-submit:hover{
        color: #fff;
        background-color: #559488;
      }
      /*--------------------------------------------------------*/
      footer {
       width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 99;
      }

      #footer-content {
        display: none;  
      }
      #footer-right {
        width: 90%;
        height: 182px;
        background-color: #fff;
        opacity: 0.9; 
        margin: 0 auto;
        border-radius: 15px;
        margin-bottom:20px;
      }

      .toggle-footer {
          width: 48px;
          margin: 0 auto;
          padding: 4px;
          cursor: pointer;
          text-align: center;
          background-color: #000; 
          opacity: 0.3;
          border-top-left-radius:  8px;
          border-top-right-radius: 8px;
}/*---------------------------------------*/